.c-order-details-header {
  font-family: 'SourceSansPro-Bold';
  font-size: 22px;
  color: #8fb505;
}

.c-order-details {
  .panel-heading {
    background-color: #fff;
  }

  .panel-default {
    border: none;
  }

  .panel-body {
    border: none;
  }
}

.c-order-sum-text {
  font-family: 'SourceSansPro-Bold';
  font-size: 22px;
  color: #000;
}

.c-order-sum {
  padding-top: 11px;
}